extends ./base 
- var js_file = js_base + "index.js";

block head
  title IMAGINARIUM

  link(rel='stylesheet', href='static/css/index.css')
  script(src='#{requirejs}', data-main='#{js_base}index.js', type='text/javascript')
block skrollr-images
  .parallax-image-wrapper.parallax-image-wrapper-100(data-anchor-target='#top + .gap', data-bottom-top='transform:translate3d(0px, 200%, 0px)', data-top-bottom='transform:translate3d(0px, 0%, 0px)')
      .parallax-image.parallax-image-100(style='background-image:url(/static/img/river.jpg)', data-anchor-target='#top + .gap', data-bottom-top='transform: translate3d(0px, -80%, 0px);', data-top-bottom='transform: translate3d(0px, 80%, 0px);')
    // the +/-80% translation can be adjusted to control the speed difference of the image
  |   
  .parallax-image-wrapper.parallax-image-wrapper-50(data-anchor-target='#contact + .gap', data-bottom-top='transform:translate3d(0px, 300%, 0px)', data-top-bottom='transform:translate3d(0px, 0%, 0px)')
      .parallax-image.parallax-image-50(style='background-image:url(/static/img/DetroitSkyline.jpg)', data-anchor-target='#contact + .gap', data-bottom-top='transform: translate3d(0px, -60%, 0px);', data-top-bottom='transform: translate3d(0px, 60%, 0px);')


block content
  .section.container-fluid#top
      .title-container.row
          .title IMAGINARIUM
      .menu
          .menu-item.about
              a(href='about.html')
                  .text About
          .menu-item.blog
              a(href='blog.html')
                  .text Blog
          .menu-item.contact
              a(href='contact.html')
                  .text Contact
  .gap.gap-100(style='background-image:url(/static/img/river.jpg);')
      #about.section.container-fluid
          .title ABOUT
          .about-content The Imaginarium Creative Outreach is a Detroit non-profit organization with a passion to expose every child in the city to their artistic passion.
          a.learn-more.col-md-3.ico-btn.ico-btn-lg.animation(href='about.html') Learn More
              
  #contact.container-fluid.section
      .title-container.row
          .title CONTACT
      .row 
          .contact-person#kristian.container-fluid
              .overlay
              .row
                  .contact-info.col-md-5.col-sm-5.col-xs-12
                      .contact-label.row WHO
                      .info.row Kristian Chanel, Founder                       
                  .contact-info.email.col-md-offset-2.col-md-5.col-sm-offset-2.col-sm-2.col-xs-12
                      .contact-label.row EMAIL
                      a.info(href="mailto:icodetroit@gmail.com") icodetroit
                      a.info(href="mailto:icodetroit@gmail.com") @
                      a.info(href="mailto:icodetroit@gmail.com") gmail.com

  .gap.gap-50(style='background-image:url(/static/img/DetroitSkyline.jpg);')



          
          

