@import "./include/subpage.scss";

.the-idea {
	hr {
		width: 50%;
	}
	.idea {
		padding: 20px 10px 0px 10px;
		overflow: auto;
		.idea-description {
			@include make-md-column(8)	
		}
		.idea-word {
			font-size: 4em;
			text-align: center;
			font-family: chalkboard;
			color: $primary-color;
			@include make-md-column(4)
		}
		
	}
}