@import "./include/subpage.scss";
@import "../bower_components/fontawesome/css/font-awesome.min.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";

.swiper-button-prev, .swiper-button-next {
  color: $primary-color;
}

.event {
  h2, h3, h4 {
    text-align: center;
  }
  .event-title {
    margin: 10% auto;
  }
  .event-subtitle {
    margin: 5% auto;
  }
  .address {
    margin: 1% auto;
    width: 100%;
    text-align: center;
  }
}