@import "./include/base.scss";
@import "./include/subpage.scss";

$padding-md: 250px;
$padding-sm: 100px;

.section {
	@include transition-mixin(opacity 500ms ease-in);
	height: 100vh;

	p {
		font-size: 1.45em;
	}

	&#top {
		// background-color: $primary-color;
		background: url(/static/img/orange-section-background.png) repeat;
		.title {
			color: white;	
			text-align: center;
		}
		padding-top: $padding-sm;
	
		@media (min-width: $screen-xs-min) {
			padding-top: $padding-md;
		}
		
	}

	&#about {
		
		.title {
			background: rgba(#ffffff, .5);
			margin: 3% 0% 0% 3%;
			color: $primary-color;
			display: inline-block;
			padding: 0 3%;
			border-radius: 5px;	
		
			@media (min-width: $screen-md-min) {
				margin-left: 7%;
			}
		}
	}

	&#contact {
		background: url(/static/img/white-section-background.png) repeat;
		.title {
			background: rgba($primary-color, .5);
			color: white;
			display: inline-block;
			float: right;
			margin: 3% 3% 0% 0%;	
			padding: 0 3%;
			border-radius: 5px;	
		
			@media (min-width: $screen-md-min) {
				margin-right: 7%;
			}
		}

		.contact-person {
			margin: auto auto;
			font-family: chalkboard;
			padding: 10px;

			&#kristian {
				$contact-height:  160px * 2;
				height: $contact-height;

				// 1070 × 1600
				// Aspect ratio: 107 : 160
					img {
						height: $contact-height;
						width: 107px * 2;
					}					
			}
			.image {

			}
			.contact-info {
				$label-height: 100px;
				$label-height-md: 75px;
				height: $label-height;
				@media (min-width: $screen-sm-min) {
					font-size: $label-height-md;
				}
				.label {
					font-size: $label-height;
					line-height: $label-height;
					height: 100%;
					@media (min-width: $screen-sm-min) {
						font-size: $label-height-md;
						line-height: $label-height-md;
					}
					
					
					color: grey;
					text-align: right;
					padding-right: 5px;
					clear: both;
				}
				.info {
					font-size: 45px;
					line-height: 45px;
					height: 100%;
					text-align: left;
					padding-left: 5px;
					clear: both;
					// word-wrap: break-word;
				}

			}
		}
	}

	h2 {
		font-family: chalkboard;
	}


	.title {
		height: 20%;
		font-size: 5em;
		font-family: "chalkboard";

		@media (min-width: $screen-xs-min) {
			font-size: 8em;	
		}
	}

	.section-title {
		font-size: 4em;

		@media (min-width: $screen-xs-min) {
			font-size: 7em;	
		}
	}

	.menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.menu-item {
			background-origin: content-box;
			background-repeat: no-repeat;			
			background-position: 0 0;
			background-size: 100% 100%;
			height: $padding-sm;
			width: $padding-sm;
			position: absolute;
			padding: .5%;
			// opacity: 0;


			a, a:visited, a:hover, a:active {
				text-decoration: none;
				color: inherit;
			}

			@media (min-width: $screen-xs-min) {
				height: $padding-md;
				width: $padding-md;
			}


			.text {
				font-size: 1.5em;
				position: absolute;
				@media (min-width: $screen-xs-min) {
					font-size: 4em;
				}
			}

			&.about {
				background-image: url(../img/thought_bubble.png);
				// @media (max-width: $screen-xs-min) {
					left: 0%;	
				// }
				top: 2;
				
				@media (min-width: $screen-sm-min)  {
					left: 20%;	
				}
				

				.text {
					top: 29%;
					left: 27%;
				}
			}

			&.blog {
				background-image: url(../img/thought_bubble_right.png);
				top: 2;
				right: 0%;
				@media (min-width: $screen-sm-min)  {
					right: 15%;
				}

				.text {
					top: 29%;
					left: 27%;
				}
			}

			&.contact {
				background-image: url(../img/thought_bubble_right_invert.png);
				right: 30%;
				top: $padding-md * .7;

				@media (min-width: $screen-xs-min)  {
					top: $padding-md * 1.4;
				}

				.text {
					top: 48%;
					left: 14%;
				}
			}
		}
	}
}
