@import "imports.scss";

$primary-color: #ed7307;
$secondary-color: #163BA0;

body {
	// background-color: $primary-color;	
}

html, body {
	margin: 0; 
	padding: 0; 
	height: 100%; 
	width: 100%;
}

*, *:before, *:after { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.navbar {
	color: $secondary-color;
	* , *:before, *:after {
		color: $secondary-color !important;
	}
}


/* Skrollr Stuffs */
#skrollr-body {
	height:100%;
	overflow:visible;
	position:relative;
}

.image-gap {
	height: 100%;
	background:transparent center no-repeat;
	background-size:cover;
}


.parallax-image { 
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	height:100%;
	top:0;
}

.parallax-image.skrollable-between {
	display:block;
}

.parallax-image-wrapper {
	position:fixed;
	left:0;
	width:100%;
	overflow:hidden;
	height:100%;
	top:-100%;
}