@import "constants.scss";
@import "animations.scss";

$ico-btn: ico-btn;

.#{$ico-btn} {
	background-color: $primary-color;
	color: white;
  border-radius: 5px;
  display: block;
  text-align: center;
  cursor: pointer;

  @at-root a.#{$ico-btn} {
    &, &:hover, &:focus {
      text-decoration: none !important;
      color: white;
    }
  }

  &:active, &:hover {
    background-color: darken($primary-color, 10%)
  }
}

.ico-btn-lg {
	font-size: $font-size-lg;
	padding: 5px;
}