@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "base.scss";

.content {
	background: white;
	height: 100%;
	width: 100%;
}