@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "base.scss";
@import "skrollr.scss";

$gap-overlay-z-index: 1;
$section-z-index: $gap-overlay-z-index + 1;

.subnav {
	width: 100%;
	margin-bottom: 10px;

	.btn {
		border-right: 1px solid $primary-color;
		border-radius: 0px;
		text-align: center;
		background-color: white;
		color: $primary-color;
		@include make-md-column(4);
	}
}


.gap-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
	z-index: $gap-overlay-z-index;
}

.section {
	background: rgba(#000000, .2);
	z-index: $section-z-index;
}